
footer {
    padding:  60px 0 60px;
    background: getColor('background-dark');
}

footer address { 
    margin-right: 70px; 
}

address li { 
    margin-bottom: 9px; 
}

address li, address a {
    color: getColor('white');
    font-style: normal;
    line-height: 1.71;
}

.footer-mail-tel__link { 
    opacity: 0.6;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: getColor('active-link');
        opacity: 1;
    }
 }

.footer.logo {
    margin-bottom: 20px;
    color: getColor('white');
}

footer .container {
    justify-content: flex-start;
}
.footer-soc {
    margin-right: 93px;
    padding-top: 10px;
}
.footer-soc__span {
    display: block;
    margin-bottom: 20px;
    color: getColor('white');
    font-weight: 700;
    text-transform: uppercase;
}
