
.filter {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-bottom: 50px;

    @include from(tablet) {
        justify-content: center;
    }
}   
.filter__btn {
    margin-right: 8px;
    margin-bottom: 15px;
    padding: 6px 22px;
    border-radius: 4px;
    text-align: center;
    color: getColor('text-dark'); 
    font: 16px/1.62 Roboto;
    background: getColor('background-grey');
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
    color: getColor('white');
    background: getColor('active-link');
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.portfolio {
    padding: 94px 0 64px;

    @include from(desktop) {
        .list__item {
            width: calc(100% / 3 - 30px);
        }
    }
    
}



.portfolio__link {
    display: block;
    border: 1px solid getColor('border-grey');
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio__box {
    position: relative;

    img { 
        width: 100%; 
    }
}


.portfolio__text {
    overflow: hidden;
    position: absolute;
    width: calc(100% + 2px);
    right: 0;
    bottom: 0;
    left: -1px;
    display: flex;
    align-items: center;
    height: 0;
    padding: 0 24px;
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.555;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio__link:hover &,
    .portfolio__link:focus & {    
        height: 100%;
    }
}


.portfolio__info {
    margin: 20px 24px;
    flex-direction: column;   
    
    h3 {
        margin-bottom: 4px;  
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: getColor('text-dark');
    }

    p {   
        font-weight: normal;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.03em;
        color: getColor('text-grey');
    }   
}